<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oliverbrace.thenothingapp">

    <!-- Permission for Advertising ID (required for AdMob on Android 13+) -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:allowBackup="true"
        android:label="The Nothing App"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4651392825591048~5088317942"/>

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>